<div class="columns" style="border-bottom: 1px solid #f1f1fc; background-color: #fff; height: 6vh;">
  <div class="column"> 
    <h1 class="text-center">Editor.js</h1>
  </div>
  <div class="column">
    <h1 class="text-center">Preview</h1>
  </div>
</div>
<div class="columns">
  <div class="column col-auto" style="border-right: 1px solid #f1f1fc; padding: 0px;">
    <div class="text-center function c-hand tooltip tooltip-bottom" data-tooltip="Preview" style="height: 50px; padding: 10px;" (click)="preview()"><b><i class="material-icons">
        visibility
        </i></b></div>
    <div class="divider"></div>
    <div class="text-center function c-hand tooltip tooltip-bottom" data-tooltip="Save" style="height: 50px; padding: 10px;"  (click)="save()"><b><i class="material-icons">
        save
        </i></b></div>
    <div class="divider"></div>
    <div class="text-center function c-hand tooltip tooltip-bottom" data-tooltip="Post" style="height: 50px; padding: 10px;"  (click)="post()"><b><i class="material-icons">
        backup
        </i></b></div>
  </div>
  <div class="column" style="padding:0px;">
    <div id="editorjs" class="editor"></div>
  </div>
  <div class="column preview">
    <div *ngIf="output">
      <div *ngFor="let block of output.blocks" [ngSwitch]="block.type">
        
        <!-- Paragraphs -->
        <p *ngSwitchCase="'paragraph'" [innerHTML]="block.data.text"></p>
        
        <!-- Headers -->
        <h2 *ngSwitchCase="'header'" [innerHTML]="block.data.text"></h2>
        
        <!-- Tables -->
        <table class="table" *ngSwitchCase="'table'">
          <tbody>
            <tr *ngFor="let content of block.data.content">
              <td *ngFor="let data of content" [innerHTML]="data"></td>
            </tr>
          </tbody>
        </table>

        <!-- Lists -->
        <ol *ngSwitchCase="'list'">
          <li *ngFor="let item of block.data.items">{{item}}</li>
        </ol>

        <!-- Code Snippets -->
        <pre class="code text-break" *ngSwitchCase="'code'">
          <code [innerHTML]="block.data.code"></code>
        </pre>  

        <!-- Raw HTML -->
        <div *ngSwitchCase="'raw'" [innerHTML]="block.data.html" class="raw"></div>

        <div *ngSwitchCase="'delimiter'" class="divider"></div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
